[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
black = "*"
python-dotenv = "*"
markdown = "*"
django-filter = "*"
django = "==3.0"
psycopg2 = "==2.8.6"
django-countries = {extras = ["pyuca"], version = "*"}
djangorestframework = "==3.10"
djangorestframework-simplejwt = "*"
pytest = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
